<div class="container">
    <section id="card">
        <img class="logo" src="/static/images/logo.png" alt="Logo">

        <br>

        <h1>Olá, seja bem vindo</h1>

        <br>

        <p>Sejam todos bem-vindos ao Conexão Carreira! Aqui, conectamos talentosos candidatos a empresas em busca de novos talentos. Estudantes do IFNMG-Campus Salinas, cadastrem-se agora em nosso site de Anexar Currículos e se conectem a empresas em busca de novos talentos! Empresas, encontrem perfis promissores logo abaixo e entrem em contato pelos canais indicados nos currículos para iniciar uma jornada de sucesso profissional. Juntos, vamos construir um futuro repleto de oportunidades!</p>

        <br>

        @{content}@
    </section>

    <br>

    <section id="more">
        <a href="@{URL}@/candidatos" class="btn btn-outline-blue">Buscar mais currículos</a>
    </section>
</div>