<footer>
    <div id="contacts">
        <h3>Contate-nos</h3>

        <div>
            <img src="/static/images/location.png" alt="location"><span>IFNMG - Campus Salinas</span>
        </div>
        
        <div>
            <img src="/static/images/phone.png" alt="phone"><span>(xx) xxxx-xxxx</span>
        </div>
        
        <div>
            <img src="/static/images/email.png" alt="email"><span>email@email</span>
        </div>
    </div>
    <br>
    <p>&copy; OREUDOS</p>
</footer>