<header>
    <div class="container">
        <nav>
            <a class="brand" href="@{URL}@/"><img src="/static/images/logo.png" alt="Brand"></a>
            <div>
                <ul>
                    <li><a class="nav-link" href="@{URL}@/sobre">Sobre</a></li>
                    <li><a class="nav-link" href="@{URL}@/faq">FAQ</a></li>
                    <li><a class="nav-link" href="@{URL}@/entrar">Entrar</a></li>
                    <li><a class="nav-link" href="@{URL}@/cadastrar">Cadastrar-se</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>