<section class="container about">
    <h1>Sobre</h1>
    <p>Nós somos um grupo talentoso de estudantes do IFNMG-Campus Salinas, composto por Geovanna Mendes Dutra, John Lucas Ferreira Rodrigues, Nicoly Thifanny Santos Neres, Pedro Henrique Santos e Ferreirade e Robert Hucy Nunes Alves, todos cursando o terceiro ano de informática.</p>
    <p>Juntos, colaboramos com entusiasmo e habilidades diversas para criar um site inovador de anexar currículos, com o objetivo de facilitar o processo de busca por estágios e empregos para nossos colegas de instituição. Nossa dedicação resultou em uma plataforma amigável, com um design atraente e funcionalidades avançadas, conectando candidatos a potenciais empregadores e impulsionando oportunidades para o sucesso profissional de todos.</p>
</section>

<section class="container creators">
    <hr>
    <div class="creators-grid">
        <div class="creator">
            <img src="/static/images/default user.png" alt="">
            <span>Geovanna Dutra</span>
        </div>
        <div class="creator">
            <img src="/static/images/default user.png" alt="">
            <span>John Lucas</span>
        </div>
        <div class="creator">
            <img src="/static/images/default user.png" alt="">
            <span>Nicoly Thifanny</span>
        </div>
        <div class="creator">
            <img src="/static/images/default user.png" alt="">
            <span>Pedro Henrique</span>
        </div>
        <div class="creator">
            <img src="/static/images/default user.png" alt="">
            <span>Robert Hucy</span>
        </div>
    </div>
    <hr>
</section>