<section class="login">
    <form id="form" action="" method="post" class="login-grid">
        <h1>Recuperar senha</h1>
        <div class="input">
            <label for="password">Informe uma nova senha</label>
            <input type="password" name="password" id="password" required>
        </div>
        
        <div class="input">
            <label for="password-confirm">Confirme sua senha</label>
            <input type="password" name="password2" id="password-confirm" required>
        </div>

        <input type="hidden" name="email" value="@{email}@">
        <input type="hidden" name="action" value="resetpassword">
        
        <div class="action">
            <button class="btn btn-outline-blue" type="button" onclick="confirmPassword()">Redefinir</button>
        </div>
    </form>
</section>

<script>
    function confirmPassword() {
        if (document.getElementById('password').value == document.getElementById('password-confirm').value) document.getElementById('form').submit();
        else alert("ERRO\nA confirmação de senha difere da senha original");
    }
</script>