<section class="container faq">
    <h1>Perguntas Frequentes</h1>

    <div class="questions-grid">
        <div class="question-column">
            <div class="question">
                <h2>Como faço para me cadastrar no site e anexar meu currículo?</h2>
                <p>Para se cadastrar no site e anexar seu currículo, basta clicar no botão "Registrar-se" no canto superior esquerdo. Você será redirecionado(a) para um formulário onde deverá preencher suas informações pessoais, como nome, e-mail, curso, telefone, entre outros dados relevantes. Após o cadastro, você poderá fazer o login com suas credenciais e, em seguida,  anexar seu currículo.</p>
            </div>
            <div class="question">
                <h2>Posso editar ou atualizar meu currículo após o envio?</h2>
                <p>Sim, você terá total controle sobre seu currículo e poderá editá-lo sempre que necessário. Após o envio do currículo, você poderá fazer login em sua conta e acessar a seção “Painel do candidato”. Lá, você encontrará a opção “Editar Perfil”, assim você poderá efetuar suas mudanças sem maiores problemas.</p>
            </div>
            <div class="question">
                <h2>De que forma as empresas vão nos comunicar sobre as possíveis contratações?</h2>
                <p>As empresas vão nos comunicar sobre as possíveis contratações através do canal de contato fornecido em seu currículo. Após analisarem os currículos dos candidatos e identificarem perfis que se encaixem nas vagas disponíveis, as empresas entrarão em contato diretamente por meio do e-mail ou número de telefone indicado no currículo. Nesse contato, elas poderão agendar entrevistas ou conversas adicionais para dar prosseguimento ao processo de seleção. É fundamental manter as informações de contato atualizadas para garantir que as empresas possam contatá-lo(a) adequadamente em caso de oportunidades profissionais.</p>
            </div>
        </div>
        <div class="question-column">
            <div class="question">
                <h2>Como posso garantir que minhas informações pessoais estarão protegidas e não serão compartilhadas sem autorização?</h2>
                <p>Seguimos todas as diretrizes da LPGD (Lei de Proteção Geral de Dados) garantindo que todos os dados coletados não serão divulgados de nenhuma forma e serão utilizados apenas dentro da plataforma.</p>
            </div>
            <div class="question">
                <h2>O site oferece algum tipo de suporte ou assistência para os candidatos que estão buscando oportunidades de estágio ou emprego?</h2>
                <p>Sim, nossa equipe de suporte está pronta para ajudar e responder suas dúvidas. Caso precise de assistência, você pode entrar em contato conosco através dos nossos contatos situados no rodapé da página. Estamos empenhados em fornecer um atendimento ágil e eficiente para tornar sua experiência no site a melhor possível, facilitando sua busca por estágio e emprego.
                </p>
            </div>
            <div class="question">
                <h2>Existe alguma taxa ou custo associado ao uso do site para candidatos?</h2>
                <p>Não, o uso do site para candidatos é totalmente gratuito. Não cobramos nenhuma taxa ou custo para se cadastrar ou para anexar currículos. Nosso objetivo é tornar o processo de busca por oportunidades profissionais mais acessível e descomplicado para todos os estudantes do IFNMG-Campus Salinas.</p>
            </div>
        </div>
    </div>
</section>